@if (confirmation.visible()) {

<div
    class="backdrop"
    (click)="confirmation.cancel()">

    <section
        class="dialog"
        (click)="$event.stopPropagation()">

        <div class="dialog-decoration"></div>

        <div class="icon">

            ⚠️

        </div>

        <h2>

            {{ confirmation.title() }}

        </h2>

        <p>

            {{ confirmation.message() }}

        </p>

        <small>

            Esta acción no se puede deshacer.

        </small>

        <footer>

            <button
                class="cancel-button"
                (click)="confirmation.cancel()">

                Cancelar

            </button>

            <button
                class="accept-button"
                (click)="confirmation.accept()">

                {{ confirmation.acceptText() }}

            </button>

        </footer>

    </section>

</div>

}