@use './styles/theme';

@use './styles/animations';

@use './styles/mixins';

/*==============================
=            RESET             =
==============================*/

*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:

Inter,

"Segoe UI",

Roboto,

sans-serif;

background:var(--background-gradient);

color:var(--text);

overflow-x:hidden;

min-height:100vh;

}

/*==============================
=         SCROLLBAR            =
==============================*/

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-thumb{

background:var(--color-primary);

border-radius:999px;

}

::-webkit-scrollbar-track{

background:transparent;

}

img{

display:block;

max-width:100%;

}

button{

font:inherit;

}

input,
textarea,
select{

font:inherit;

}